menu "Authentication"

    config AUTH_AUTH0_HOSTNAME
        string "Auth0 tenant hostname"
        default "dev-ganymede.us.auth0.com"

    config AUTH_AUTH0_CLIENT_ID
        string "Auth0 Client ID"

endmenu