menu "Poll"

    config GANYMEDE_HOST
        string "Ganymede services hostname"
        default "ganymede.davidbourgault.ca"
        help
           IP address or DNS host to connect to. This can be different from
           GANYMEDE_AUTHORITY

    config GANYMEDE_AUTHORITY
        string "Ganymede services authority"
        default "ganymede.davidbourgault.ca"
        help
          Server name expected by the nginx ingress (if any). This could differ
          from GANYMEDE_HOST when deploying the server on a local network.

    config GANYMEDE_DEVICE_ID
        string "Ganymede Device ID"
        help
          MAC-address lookup is not yet supported, so the Device ID must be
          hard-coded into the code.
endmenu