menu "Ganymede App"
    config MEASUREMENTS_BUCKET_SIZE
        int "Measurements bucket capacity"
        default 100
        help
           Number of measurements held in memory before they are uploaded.
endmenu